.footer {
  background: #070606;
  width: 100%;
  padding: 47px 80px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.brandSection {
  max-width: 300px;
}

.brandTitle {
  color: #fff;
  font: 700 48px Playfair Display, serif;
}

.brandDescription {
  color: #f9f9f9;
  font: 400 16px/24px Montserrat, sans-serif;
  margin-top: 13px;
  text-align: justify;
}

.brandIcon {
  width: 20px;
  margin-top: 94px;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  top: 30px;
}
.linksContainer a {
  color: #f9f9f9;
  text-decoration: none;
  top: 30px;
}

.linksContainer a:hover {
  color: #f5a022;
}

.linkSection {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.sectionTitle {
  color: #f9f9f9;
  font: 400 16px/1.5 Montserrat, sans-serif;
}

.footerLink {
  color: #f9f9f9;
  font: 600 16px/1.5 Montserrat, sans-serif;
  text-decoration: none;
}

.footerDivider {
  height: 1px;
  background: #b4b4b4;
  margin: 49px 0 27px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.copyright {
  color: #fff;
  font: 400 16px/1.5 Montserrat, sans-serif;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.socialIcon {
  width: 25px;
  height: 25px;
}
.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
i:hover {
  color: #f5a022;
  width: 10px;
}

@media (max-width: 991px) {
  .footer {
    padding: 40px 20px;
  }

  .footerContent {
    flex-direction: column;
  }

  .linksContainer {
    flex-direction: column;
    gap: 40px;
  }

  .brandIcon {
    margin-top: 40px;
  }

  .footerBottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
