.navBar {
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 25px 69px; */
}

.logo {
  font: 400 96px/1 "Island Moments", sans-serif;
  color: #000;
}

.navLinks {
  display: flex;
  gap: 40px;
  color: #000;
}

.navGroup {
  display: flex;
  gap: 23px;
}

.navLink {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 991px) {
  .navBar {
    padding: 20px;
  }

  .logo {
    font-size: 40px;
  }

  .navLinks {
    flex-direction: column;
    gap: 20px;
  }

  .navGroup {
    flex-direction: column;
    gap: 20px;
  }
}
